/*  your css code here. If applicable */
body {
            font-family: Arial, sans-serif;
            padding: 20px;

	
        }
        h1 {
            text-align: center;
        }
        ul {
           
            padding-left: 0;
			align-items:center
        }
        li {
            font-size: 18px;
            padding: 18px 0;
        }